{{> header}}
{{> navbar}}
 <h1>Pablo Picasso</h1>
    <img src="images/picasso.jpg" width="200" height="250">
    <h2>Biografía</h2>
    <p>Pablo Ruiz Picasso nace en Málaga en 1881. Según Pierre Cabanne, uno de sus biógrafos, fue un niño independiente y con carácter. Cuando tan solo cuenta con dos años de edad, se traslada con su familia a la casa de su abuela materna, donde también residen dos de las tías del niño. Durante su infancia, la presencia femenina fue una constante; en muchas ocasiones, Picasso fue el centro de atención. En su libro “Mi vida con Picasso” Françoise Gilot, una de sus parejas, citaba estas palabras del artista: “Cuando yo era niño, mi madre me decía: ‘Si llegas a ser soldado, serás general. Si cuando seas mayor eres monje, llegarás a ser Papa’. Pero en lugar de todo eso fui pintor y terminé siendo Picasso”. Su padre, José Ruiz y Blasco, era pintor y trabajaba como ayudante de dibujo en la Escuela de Bellas Artes de Málaga. También era Conservador del Museo Municipal. Su influencia fue determinante para encauzar la carrera del niño hacia el arte; de hecho, fue el primer profesor que tuvo el futuro artista durante su infancia y su juventud.</p>
    <br><br>
    <h1>Obras Destacadas</h1>
    <h2>1. Guernica</h2>
    <img style="float: left;" src="images/obra_picasso_1.jpg" width="300" height="200">
    <br><br><br><br><br><br><br><br><br><br><br><br>
    <h2>2. La Mujer que llora</h2>
    <img style="float: left;" src="images/obra_picasso_2.jpg" width="200" height="250">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h2>3. El viejo guitarrista ciego</h2>
    <img style="float: left;" src="images/obra_picasso_3.jpg" width="200" height="250">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h2>4. Autoretrato</h2>
    <img style="float: left;" src="images/obra_picasso_4.jpg" width="200" height="250">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h2>5. Don Quijote</h2>
    <img style="float: left;" src="images/obra_picasso_5.jpg" width="200" height="250">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{{> footer}}